---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
---

<Container>
    <div class="relative flex flex-col items-center md:flex-row" id="projects">
        <Topic
            title="Infórmate"
            description="¿Sabías que en México existe el Registro Nacional de Turismo? Este es uno de requisitos para afiliarte a la red de prestadores de servicios turísticos BeelTraveler."
        />
    </div>

    <div
        class="w-full p-12 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white"
    >
        <div
            class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0"
        >
            <div
                class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
            >
                <div class="w-full text-lg font-normal">
                    <p>
                        ¿Eres un Prestador de Servicios Turísticos? Conoce el
                        Registro Nacional de Turismo, el catálogo público de
                        prestadores de servicios turísticos en México. Este
                        registro permite al Ejecutivo Federal, los Estados y
                        Municipios contar con información detallada sobre los
                        prestadores de servicios turísticos a nivel nacional,
                        facilitando así el conocimiento del mercado turístico y
                        la comunicación con las empresas cuando sea necesario.
                    </p>
                </div>
                <div class="justify-start items-center gap-[15px] inline-flex">
                    <div class="text-lime text-xl font-normal leading-7">
                        <span> Ver Catálogo </span>
                    </div>
                    <img src="/services/agc.svg" alt="arrow" />
                </div>
            </div>
            <div
                class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
            >
                <div class="w-full text-lg font-normal">
                    <p>
                        ¿Cuál es el procedimiento para inscribirte o actualizar
                        tu información en el Registro Nacional de Turismo? Los
                        prestadores de servicios turísticos, definidos en el
                        catálogo, deberán seguir lo establecido en la
                        convocatoria de inscripción al Registro Nacional de
                        Turismo.
                    </p>
                </div>
                <div class="justify-start items-center gap-[15px] inline-flex">
                    <div class="text-lime text-xl font-normal leading-7">
                        <span> Ver Convocatoria </span>
                    </div>
                    <img src="/services/agc.svg" alt="arrow" />
                </div>
            </div>
            <div
                class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
            >
                <div class="w-full text-lg font-normal">
                    <p>
                        ¿Conoces el formato único para los trámites del Registro
                        Nacional de Turismo? Todos los prestadores de servicios
                        turísticos que realicen un trámite ante el Registro
                        Nacional de Turismo (inscripción, actualización y
                        rectificación de datos, renovación o reposición de
                        certificado, expedición de nuevos certificados y
                        cancelación de inscripción) deberán llenar el formato
                        único.
                    </p>
                </div>
                <div class="justify-start items-center gap-[15px] inline-flex">
                    <div class="text-lime text-xl font-normal leading-7">
                        <span> Ver Formato </span>
                    </div>
                    <img src="/services/agc.svg" alt="arrow" />
                </div>
            </div>
        </div>

        <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
        <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    </div>
</Container>
