---
import Container from "@/components/Container.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  { href: "/about", label: "About Us" },
  { href: "/#services", label: "Services" },
  { href: "/#projects", label: "Get a Quote" },
  { href: "/pricing", label: "Pricing" },
  { href: "/articles", label: "Blog" },
];
---

<div class="mt-0">
  <nav
    style={{ margin: 0, padding: 0 }}
    class="w-full top-0 left-0 z-50 sticky bg-white m-0 p-0"
  >
    <Container>
      <header
        class="flex flex-col lg:flex-row justify-between items-center mt-0"
      >
        <Astronav>
          <div class="flex w-full lg:w-auto items-center justify-between">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
              <img
                src="/Beeltravel-logo.webp"
                class="h-32 overflow-hidden"
                alt="Logo"
              />
            </a>
            <div class="block lg:hidden">
              <MenuIcon class="w-8 h-8 text-black" />
            </div>
          </div>
          <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
            <ul
              class="font-medium flex flex-col p-4 lg:p-0 mt-4 border rounded-lg lg:flex-row lg:space-x-8 lg:mt-0 lg:border-0"
            >
              {
                menuitems.map((item, index) => (
                  <li>
                    <a
                      href={item.href}
                      class="block py-2 px-3 text-black rounded lg:bg-transparent lg:p-0"
                    >
                      {item.label}
                    </a>
                  </li>
                ))
              }
            </ul>
          </MenuItems>

          <div class="relative lg:ml-4">
            <input
              type="text"
              placeholder="Search..."
              class="block w-full lg:w-64 py-2 px-4 rounded-lg border border-gray-300 focus:ring-2 focus:ring-indigo-500 focus:outline-none"
            />
            <button
              class="absolute inset-y-0 right-0 px-4 py-2 text-white bg-indigo-600 rounded-r-lg"
            >
              Search
            </button>
          </div>
        </Astronav>
      </header>
    </Container>
  </nav>
</div>
